body{ background: url(https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    text-align: center;
    background-size: 100%;
}

#greeting {
    text-decoration: underline ;
    text-decoration-style: double;
    font-size: 32pt;
    color: lightcyan;
}

.explain, .example {
    color: lightcyan;
    font-size: 14pt;
}

#show-lyrics {
margin-left: 30%;
margin-right: 30%;
font-size: 16pt;
font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(68, 122, 158);
opacity: 0.65;
color: rgb(6, 6, 46);
border-style: solid;
border-color: midnightblue;
}

#Search-btn {
     background-color: rgb(5, 177, 177);
}

#comments-section {
    background-color: rgb(223, 222, 219);
    opacity: 0.65;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-color: rgb(104, 104, 30);
    font-size: 16pt;
    font-weight: bold;
    word-wrap: break-word;
}

p {
    border-style: double ;
    border-color: black;
    margin: 2%;
    padding:5mm;
    font-size: 13pt;
}

.comment-control {
width: 60%;
margin-left: 2%;
margin-top: 2%;
margin-bottom: 2%;
padding: 16px;
}
